*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: Netflix Sans, Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.container{
    height: 90vh;
    background-image: url("images/bg.jpg");
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.nav{
    height: 20%;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content:space-around;
    position: relative;
}
.logo{
    height: 100%;
    width: 20%;
    margin-right: 400px;
}
img{
    width: 80%;
    height: 100%;
    padding: 20px;
}
select{
    height: 32px;
    width: 104px;
    background-color: transparent;
    color: white;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: large;
}
.signin button{
    width: 75px;
    height: 32px;
    background-color: rgb(237, 6, 6);
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    font-size: large;
    color: white;
}
h1{
    color: white;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1000px;
    font-size: 26px;
    font-weight: 700;
    position: relative;
}
p{
    margin-block: 10px;
    font-size: 28px;
    font-weight: 400;

}
.content button{
    background-color: rgb(237, 6, 6);
    border: none;
    border-radius: 5px;
    height: 48px;
    width: 156px;
}
input{
    width: 304px;
    height: 48px;
    background-color: transparent ;
    color: rgb(250, 244, 244);
    border: 2px white solid;
    border-radius: 5px;
    font-size: 20px;
    padding: 20px 20px 16px;
    font-weight: 600;
}
.box{
    height: 100%;
    width: 100%;
    background-color: rgb(3, 0, 0);
    opacity: 0.7;
    position: absolute;
    
}
/*sections*/
section{
    height: 70vh;
    background-color:black;
    border-top: 8px solid rgb(19, 18, 18);
    display: flex;
    justify-content: center;
    padding: 100px;
    align-items: center;
    color: white;
    padding: 100px 240px;
}

section img{
    height: 45vh;
    width: 450px;
}
.section-img{
    width: 50%;
    height: 100%;
}
.section-text h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.section-text h3{
    font-size: 24px;
    font-weight: 300;
}
.section-text{
    width: 50%;
    height: 100%;
    margin-top: 200px;
}
.faq{
    height: 120vh;
    background-color: black;
    border-top: 8px solid rgb(19, 18, 18);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main-heading{
    font-size: 56px;
    margin: 40px;
}
.faq li{
    background-color: rgb(31, 29, 31);
    margin: 10px;
    list-style: none;
    width: 1100px;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 24px 36px;
    justify-content: space-between;
}
.faq p{
    font-size: 24px;
}
.faq button{
    background-color: rgb(237, 6, 6);
    border: none;
    border-radius: 5px;
    height: 55px;
    width: 170px;
    margin-left: 10px;
}
.faq input{
    height: 60px;
}
footer{
    border-top: 8px solid rgb(19, 18, 18);
    height: 50vh;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table td{
    margin: 100px;
    width: 250px;
    height: 40px;
}
table{
    text-decoration: underline;
    color: rgb(210, 206, 200);
}


@media (max-width: 730px){

    .container{
        width: 100%;
        height: auto;
        font-size: ;
    }

}